<footer class="footer-container">
        <a href="https://www.linkedin.com/in/mackenzieminch/">Mackenzie Minch</a> and
        <a href="https://www.linkedin.com/in/paul-parant-1013a07/">Paul Parant</a> – IronHack cohort 102, March 2021
</footer>