<nav>
        <img id="header-logo" src="images/logo-travel-india.PNG" alt="travel-india-logo"></img>
            <div id="nav-menu">
                <a class="nav-menu-button" href="\index.hbs">Home</a>
                <a class="nav-menu-button" href="\all-blogs.hbs">All blogs</a>
                <a class="nav-menu-button" href="\sign-in.hbs">Sign in</a>
                <a class="nav-menu-button" href="\sign-in.hbs">Sign up</a>   
            </div>
</nav>