{{!DUPLICATE IN LAYOUT - DELETE WHEN PARTIAL IS CALLED}}

<nav>
        <img id="header-logo" src="images/logo-travel-india.PNG" alt="travel-india-logo"></img>
            <div id="nav-menu">
                <a class="nav-menu-button" href="\index.hbs">Home</a>
                <a class="nav-menu-button" href="\all-blogs.hbs">All Blogs</a>
                <a class="nav-menu-button" href="\sign-in.hbs">Sign In</a>
                <a class="nav-menu-button" href="\sign-in.hbs">Sign Up</a>   
            </div>
    </nav>