<nav>
        <img id="header-logo" src="images/logo-travel-india.png" alt="travel-india-logo"></img>
            <div id="nav-menu">
                <a class="nav-menu-button" href="/"><img src="/images/flaticon-in/svg/taj-mahal.svg" alt="home" width="25px">Home</a>
                <a class="nav-menu-button" href="/all">All blogs</a>
                <a class="nav-menu-button" href="/about">About</a>
                <a class="nav-menu-button" href="\sign-in.hbs">Sign in</a>
                <a class="nav-menu-button" href="\sign-in.hbs">Sign up</a>   
            </div>
</nav>