<nav>
        <img id="header-logo" src="images/logo-travel-india.PNG" alt="travel-india-logo"></img>
            <div id="nav-menu">
                <a class="nav-menu-button" href="\index.html">Home</a>
                <a class="nav-menu-button" href="\about.html">About</a>
                <a class="nav-menu-button" href="\sign-in.html">Sign In</a>
                <a class="nav-menu-button" href="\sign-in.html">Sign Up</a>   
            </div>
    </nav>