{{!-- action represents the ROUTE you want to target --}}
<div class="page-background">
  <div class="form-container">

<form method="post" action="/hackers/create" class="form">{{!-- CHANGE THIS LINE --}}
       <label for="email">Email Address</label>
    <input id="email" class="input" type="email" name="email" value="email@domain.com"><br>
    <label for="password">Password</label>
    <input id="password" class="input" type="password" name="password" value="Secure123"><br>
    <button class="btn">Login</button>
</form>

<p>Forgot your password?</p>

  </div>
</div>