<h1>{{message}}</h1>
<h2>MUMBAI, WE HAVE A {{error.status}}!</h2>
<p>Sorry Sir or Madam.</p>
<p>There seems to be some kind of an error leading us to this.</p>
<p>If you need to go into details, here they are:</p>
<pre>{{error.stack}}</pre>
