<h2>MUMBAI, WE HAVE A {{error.status}}!</h2>
<p><img src="/images/flaticon-in/svg/holy-cow.svg" alt="ERROR" width="300px"></p>
<p>Dear Sir or Madam,</p>
<p>There seems to be some kind of an error leading you here.</p>
<p>We strongly regret this inconvenience.</p>
<p>If you wish to go more into details, here they are:</p>
{{error}}
<pre>{{error.stack}}</pre>