<div class="main-container">
    <section class="city-container">
        <div class="city-title">New Delhi</div>
            <div class="blog-post-snippet">
                <img class="post-photo" src="images\new-delhi-lotus.jpg" alt="new-delhi-lotus"></img>
                    <div class="post-title">Hiring a Local Guide</div>
                        <p class="post-description">Hiring a guide isn’t something I normally do. But for my time in New Delhi...</p>
            </div>
                <div class="spacer"></div>
            <div class="blog-post-snippet">
                <img class="post-photo" src="images\new-delhi-lotus.jpg" alt="new-delhi-lotus"></img>
                    <div class="post-title">Hiring a Local Guide</div>
                        <p class="post-description">Hiring a guide isn’t something I normally do. But for my time in New Delhi...</p>
            </div> 
    </section>
    <section class="city-container">
        <div class="city-title">Kolkata</div>
            <div class="blog-post-snippet">
                <img class="post-photo" src="images/kolkata-building-lake.jpg" alt="new-delhi-lotus"></img>
                    <div class="post-title">Hiring a Local Guide</div>
                        <p class="post-description">Hiring a guide isn’t something I normally do. But for my time in New Delhi...</p>
            </div>
                <div class="spacer"></div>
            <div class="blog-post-snippet">
                <img class="post-photo" src="images/kolkata-building-lake.jpg" alt="new-delhi-lotus"></img>
                    <div class="post-title">Hiring a Local Guide</div>
                        <p class="post-description">Hiring a guide isn’t something I normally do. But for my time in New Delhi...</p>
            </div>
    </section>
    <section class="city-container">
        <div class="city-title">Karela</div>
            <div class="blog-post-snippet">
                <img class="post-photo" src="images/kerala-tea-plantations.jpg" alt="new-delhi-lotus"></img>
                    <div class="post-title">Hiring a Local Guide</div>
                        <p class="post-description">Hiring a guide isn’t something I normally do. But for my time in New Delhi...</p>
            </div>
                <div class="spacer"></div>
            <div class="blog-post-snippet">
                <img class="post-photo" src="images/kerala-tea-plantations.jpg" alt="new-delhi-lotus"></img>
                    <div class="post-title">Hiring a Local Guide</div>
                        <p class="post-description">Hiring a guide isn’t something I normally do. But for my time in New Delhi...</p>
            </div> 
    </section>
    <section class="city-container">
        <div class="city-title">Mumbai</div>
            <div class="blog-post-snippet">
                <img class="post-photo" src="images/mumbai-water-boats.jpg" alt="new-delhi-lotus"></img>
                    <div class="post-title">Bombay Cocktails</div>
                        <p class="post-description">Who can travel to Bombay and not think about having a drink? Here are...</p>
            </div>
                <div class="spacer"></div>
            <div class="blog-post-snippet">
                <img class="post-photo" src="images/mumbai-water-boats.jpg" alt="new-delhi-lotus"></img>
                    <div class="post-title">Hiring a Local Guide</div>
                        <p class="post-description">Hiring a guide isn’t something I normally do. But for my time in New Delhi...</p>
            </div>
    </section>
</div>
<div class="spacer-white"></div>