<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel India Blog</title>
    <link rel="stylesheet" href="stylesheets\style.css">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    </style>
</head>
<body>
    {{{body}}}
    <nav>
        <img id="header-logo" src="images/logo-travel-india.PNG" alt="travel-india-logo"></img>
            <div id="nav-menu">
                <a class="nav-menu-button" href="\index.html">Home</a>
                <a class="nav-menu-button" href="\about.html">About</a>
                <a class="nav-menu-button" href="\sign-in.html">Sign In</a>
                <a class="nav-menu-button" href="\sign-in.html">Sign Up</a>   
            </div>
    </nav>
    <div class="main-container">
    <section class="city-container">
        <div class="city-title">New Delhi</div>
            <div class="blog-post-snippet">
                <img class="post-photo" src="images\new-delhi-lotus.jpg" alt="new-delhi-lotus"></img>
                    <div class="post-title">Hiring a Local Guide</div>
                        <p class="post-description">Hiring a guide isn’t something I normally do. But for my time in New Delhi...</p>
            </div>
            <div class="blog-post-snippet">
                <img class="post-photo" src="images\new-delhi-lotus.jpg" alt="new-delhi-lotus"></img>
                    <div class="post-title">Hiring a Local Guide</div>
                        <p class="post-description">Hiring a guide isn’t something I normally do. But for my time in New Delhi...</p>
            </div> 
    </section>
    <section class="city-container">
        <div class="city-title">Kolkata</div>
            <div class="blog-post-snippet">
                <img class="post-photo" src="images/kolkata-building-lake.jpg" alt="new-delhi-lotus"></img>
                    <div class="post-title">Hiring a Local Guide</div>
                        <p class="post-description">Hiring a guide isn’t something I normally do. But for my time in New Delhi...</p>
            </div>
            <div class="blog-post-snippet">
                <img class="post-photo" src="images/kolkata-building-lake.jpg" alt="new-delhi-lotus"></img>
                    <div class="post-title">Hiring a Local Guide</div>
                        <p class="post-description">Hiring a guide isn’t something I normally do. But for my time in New Delhi...</p>
            </div>
    </section>
    <section class="city-container">
        <div class="city-title">Karela</div>
            <div class="blog-post-snippet">
                <img class="post-photo" src="images/kerala-tea-plantations.jpg" alt="new-delhi-lotus"></img>
                    <div class="post-title">Hiring a Local Guide</div>
                        <p class="post-description">Hiring a guide isn’t something I normally do. But for my time in New Delhi...</p>
            </div>
            <div class="blog-post-snippet">
                <img class="post-photo" src="images/kerala-tea-plantations.jpg" alt="new-delhi-lotus"></img>
                    <div class="post-title">Hiring a Local Guide</div>
                        <p class="post-description">Hiring a guide isn’t something I normally do. But for my time in New Delhi...</p>
            </div> 
    </section>
    <section class="city-container">
        <div class="city-title">Mumbai</div>
            <div class="blog-post-snippet">
                <img class="post-photo" src="images/mumbai-water-boats.jpg" alt="new-delhi-lotus"></img>
                    <div class="post-title">Bombay Cocktails</div>
                        <p class="post-description">Who can travel to Bombay and not think about having a drink? Here are the best...</p>
            </div>
            <div class="blog-post-snippet">
                <img class="post-photo" src="images/mumbai-water-boats.jpg" alt="new-delhi-lotus"></img>
                    <div class="post-title">Hiring a Local Guide</div>
                        <p class="post-description">Hiring a guide isn’t something I normally do. But for my time in New Delhi...</p>
            </div>
    </section>
</div>
<footer>
        &copy; <a href="https://www.linkedin.com/in/mackenzieminch/">Mackenzie Minch and</a> <a
            href="https://www.linkedin.com/in/paul-parant-1013a07/">Paul Parant</a> – IronHack cohort 102, March 2021
    </footer>
</body>
</html>

