<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BloginIndia</title>
    <link rel="stylesheet" href='/stylesheets/style.css'>
    <link rel="icon" type="image/png" href="/images/favico.png" />
</head>

<body>
    <header>

        <nav id="navbar">
            <a href="/"><img src="/images/flaticon-in/svg/taj-mahal.svg" alt="home" width="20px"></a>
            <a href="/articles">articles</a>
            <a href="/delhi">delhi</a>
            <a href="/delhi">kolkata</a>
            <a href="/kerala">kerala</a>
            <a href="/varanasi">varanasi</a>
            <a href="/about">about</a>
            <a href="/login">login</a>


        </nav>
    </header>
    {{{body}}}
    <footer>

        &copy; <a href="https://www.linkedin.com/in/mackenzieminch/">Mackenzie Minch</a> & <a
            href="https://www.linkedin.com/in/paul-parant-1013a07/">Paul Parant</a> – IronHack cohort 102, March 2021
    </footer>
</body>

</html>