<div class="container">

    <h1>{{article.title}}</h1>

    <div class="text-muted">
        {{article.date}}
    </div>

    <a href="/articles/edit/{{article.id}}" class="btn btn-info">Edit</a>

    <div>
        {{article.markdown}}
    </div>

</div>