<h1>Are YOU an admin? &#129300;</h1>



<div class="form-container">
    <p>If so, sign-in here : &#129488;</p>
    {{! CHANGE THIS --> }} <form action="/articles" method="POST">

        <div class="page-background">
            {{!-- <div class="form-container"> --}}
<div>
                <form method="post" action="/hackers/create" class="form">{{!-- CHANGE THIS LINE --}}
                    <label for="email">Email Address</label>
                    <input id="email" class="input" type="email" name="email" value="email@domain.com"><br>
                    <label for="password">Password</label>
                    <input id="password" class="input" type="password" name="password" value="Secure123"><br>
                    <button class="btn">Login</button>
                </form>

                <p>Forgot your password? &#129322;</p>

            </div>
        </div>

    </form>

    <p>If you're not, create an account: &#128526;</p>

    <div class="page-background">
        <div class="form-container">

            <form method="post" action="/hackers/create" class="form">{{!-- CHANGE THIS LINE --}}
                <label for="first-name">First name</label>
                <input class="input" type="text" id="first-name" name="first-name" value="Your first name"><br>
                <label for="name">Last name</label>
                <input class="input" type="text" id="last-name" name="last-name" value="Your last name"><br>
                <label for="email">Email Address</label>
                <input id="email" class="input" type="email" name="email" value="email@domain.com"><br>
                <label for="password">Password</label>
                <input id="password" class="input" type="password" name="password" value="Secure123"><br>
                <label for="password-repeat">Repeat Password</label>
                <input id="password-repeat" class="input" type="password" name="password-repeat"
                    value="Secure123"><br><br>
                <button class="btn">Sign Up</button>
            </form>

        </div>

    </div>

</div>