<h1>Hello
{{newUser.userName}} !</h1>
<p>
    email: {{newUser.email}}<br>
    password: {{newUser.password}}<br>

</p>
<p>Want to confirm your existence?</p>
<p><button>
    <a href="/user">Reload the page</a>
  </button></p>
<p>Afraid? Want to go back?</p>

<p>
<form action="/users/{{newUser.id}}/delete" method="POST">
    <button type="submit">Delete your account</button>
</form>
</p>