<div class="container">

    <h1>{{article.title}}</h1>

    <div class="text-muted">
        {{article.date}}
    </div>


    <div>
        {{!-- NOT A REAL MARKDOWN ANYMORE... --}}
        {{article.markdown}}
    </div>

    <a href="/articles/{{article.id}}/edit" class="btn btn-info">Edit article</a>
</div>