body { 
    font-family: 'Poppins', sans-serif;
    margin: 5%;
    }

#header-logo {
    max-width: 250px;
}

#nav-menu {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
}

a:hover {
    color: gray

}

.nav-menu-button {
    color:rgb(86, 163, 168);
    list-style-type: none;
    text-decoration: none;
    width: 80px;
    height: 40px; 
    display: flex;
    /* THESE TWO JUSTIFY THE TEXT */
    align-items: center;
    justify-content: center;

}

.main-container {
    background-color: #ebf6ff;
    margin-top: 20px;
    padding: 30px;
    height: 700px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
}

.city-container {
    width: 300px;
    margin: 0px;
    padding: 0px 30px 0px 0px;
    display: flex;
    flex-direction: column;
}

.spacer {
    height: 50px;
    background-color:#ebf6ff;
}

.spacer-white {
    height: 40px;
    background-color:#ffffff;
}

.city-title {
    font-size: 24px;
    text-align: center;
    padding: 20px;
    font-weight: 600;
}

.blog-post-snippet {
    width: 300px;
}

.post-photo {
    width: 300px;
    background-color:rgb(86, 163, 168);
    margin: 0px;
}

.post-title {
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    background-color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-description {
    font-size: 14px;
    margin: 0px;
    padding: 0px 20px 15px 20px;
    background-color: #ffffff;
    display: -webkit-box;
    /* -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden; */
}

/* Forms CSS */

.page-background {
    background-color: rgb(86, 163, 168);
    padding: 40px;
    display: flex;
  }
  
  .form-container {
    background-color: #ffffff;
    display: flex;

  }
  
  .confirmation-button {
      border: solid black; 
      text-align: center;
  }


  /* FOOTER */

  .footer-container {
    height: 30px;
    width: 100%;
    background-color:rgb(86, 163, 168);
  }